*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-dark{
    background-color: #111111 !important;
}

.p-t-b{
    padding: 12px 0 12px 0;
}
.p-l{
    padding-left: 5px;
}
.p-r{
    padding-right: 4%;
}
p{
    margin-bottom: 0 !important;
}

ul{
    margin-bottom: 0 !important;
}
.cur{ 
    cursor: pointer;
}
a{
    text-decoration: none !important;
}

.overlay-text {
    position: absolute;
    top: 35%;
    left: 40%;
    color: white;
    font-size: 24px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
  }
  .flex-item {
    flex: 0 0 calc(25% - 10px);
    max-width: calc(25% - 10px);
  }
.card-img-top{
    height: 160px;
}
ul li a:hover{
    color:#db3b3f !important;
  }